MAIN_ICON ICON "resource\\dog_32.ico"
NEW_BMP BITMAP "resource\\new.bmp"
OPEN_BMP BITMAP "resource\\open.bmp"
SAVE_BMP BITMAP "resource\\save.bmp"
SAVE_DISABLE_BMP BITMAP "resource\\save_disable.bmp"
FORWARD_BMP BITMAP "resource\\forward.bmp"
FORWARD_DISABLE_BMP BITMAP "resource\\forward_disable.bmp"
BACKWARD_BMP BITMAP "resource\\backward.bmp"
BACKWARD_DISABLE_BMP BITMAP "resource\\backward_disable.bmp"
RUN_BMP BITMAP "resource\\run.bmp"
STOP_BMP BITMAP "resource\\stop.bmp"
BLACK_DOG_BMP BITMAP "resource\\black_dog.bmp"
BLACK_DOG_DISABLE_BMP BITMAP "resource\\black_dog_disable.bmp"
WHITE_DOG_BMP BITMAP "resource\\white_dog.bmp"
WHITE_DOG_DISABLE_BMP BITMAP "resource\\white_dog_disable.bmp"
ANALYZE_BMP BITMAP "resource\\analyze.bmp"
ANALYZE_DISABLE_BMP BITMAP "resource\\analyze_disable.bmp"
SCORE_BMP BITMAP "resource\\score.bmp"
SCORE_DISABLE_BMP BITMAP "resource\\score_disable.bmp"
//#include "wx/msw/wx.rc"
